@use "@assets/sass/foundations/global/" as g;

@layer components {
  // TODO: グロナビ用のポップオーバースタイルのサンプル
  // html:has(.c-popover:popover-open) {
  //   overflow: hidden;
  //   scrollbar-gutter: stable;

  //   :is(a, button, input, textarea, select):not(.c-popover *) {
  //     pointer-events: none;
  //     background-color: red !important;
  //   }
  // }

  .c-popover {
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    opacity: 0;
    transition:
      opacity var(--default-transition),
      display var(--default-transition) allow-discrete,
      overlay var(--default-transition) allow-discrete;

    &:popover-open {
      opacity: 1;
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
      }
    }

    &::backdrop {
      background-color: rgb(0 0 0 / 25%);
      opacity: 0;
      transition:
        opacity var(--default-transition),
        display var(--default-transition) allow-discrete,
        overlay var(--default-transition) allow-discrete;
    }

    &:popover-open::backdrop {
      opacity: 1;
    }

    @starting-style {
      &:popover-open::backdrop {
        opacity: 0;
      }
    }
  }

  .c-popover_contents {
    position: relative;
    max-width: 320px;
    font-size: 0.875rem;
    line-height: 1.6;
  }

  .c-popover_close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: opacity var(--default-transition);

    &:hover {
      opacity: 0.7;
    }
  }
}
