@layer components {
  .blog-masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
  }

  .blog-masonry-item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
