@use "@assets/sass/foundations/global/" as g;

@layer components {
  /***************************
  * ページ全体スクロールモーダル
  *************************** */
  .p-modal-page {
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    overscroll-behavior: contain;
    scrollbar-width: thin;
    background-color: transparent;

    &[open] {
      display: grid;
      align-items: center;
    }

    @media (prefers-color-scheme: dark) {
      scrollbar-color: #9f9f9f #2c2c2c;
    }

    .c-modal_contents {
      margin-block: 100px;
      margin-inline: auto;
      background-color: #fff;
    }
  }
}
