@use "@assets/sass/foundations/global/" as g;

@tailwind components;

@layer components {
  .c-accordion-js {
    position: relative;
    overflow: hidden;
    background-color: theme("colors.slate.100");

    + .c-accordion-js {
      margin-top: theme("spacing.xs");
    }
  }

  .c-accordion_summary-js {
    display: flex;
    gap: theme("gap.sm");
    padding: theme("spacing.sm");
    margin-right: g.minmax(34px, 38px);
    font-weight: bold;
    color: var(--color-primary);
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      /* Safariで表示されるデフォルトの三角形アイコンを削除 */
      display: none;
    }

    .icon-question {
      display: inline-block;
      margin-right: theme("spacing.sm");
      vertical-align: middle;
    }
  }

  .c-accordion_switch-js {
    position: absolute;
    right: theme("spacing.sm");
    flex-shrink: 0;
    width: g.minmax(24px, 28px);
    height: g.minmax(24px, 28px);
    margin-left: auto;
    background-color: theme("colors.white");
    border-radius: 50%;

    span {
      position: absolute;
      inset: 0;
      width: g.minmax(12px, 15px);
      height: 2px;
      margin: auto;
      content: "";
      background-color: var(--color-primary);
      transition: transform var(--default-transition);

      .c-accordion-js &:last-child {
        transform: rotate(90deg);
      }

      .c-accordion[open] &:last-child {
        transform: rotate(0deg);
      }
    }
  }

  .c-accordion_contents-js {
    padding: theme("spacing.sm");
    margin-top: g.minmax(-4px, -2px, "xl", "sm");
    background-color: theme("colors.white");
    border: g.minmax(2px, 4px) solid theme("colors.slate.100");

    &:has(.c-accordion_answer) {
      display: flex;
      gap: theme("gap.sm");
    }
  }

  .c-accordion_answer-js {
    margin-right: g.minmax(34px, 38px);
  }

  .c-accordion_icon-js {
    display: flex;
    gap: theme("gap.sm");
    font-weight: bold;

    &.-question {
      margin-top: -1px;
    }
  }
}
