/* stylelint-disable rule-nesting-at-rule-required-list */
/**
 * カスタムセレクトボックス
 */
.p-dropdown {
  position: relative;
  width: 100%;
}

.p-dropdown_options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 5;
  display: none;
  padding-block: 10px;
  background: #fff;
  border-top: none;
  border-radius: 0.25rem;
  box-shadow: 0 4px 20px rgb(0 0 0 / 8%);

  .p-dropdown.is-active & {
    display: block;
  }
}

.p-dropdown_option {
  padding: 0.875rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #64748b;
  cursor: pointer;
  transition: background-color 0.2s;

  &.is-selected {
    font-weight: 600;
    color: var(--color-primary, #2196f3);
  }

  &:hover {
    background-color: #f2f4f7;
  }
}

.p-dropdown_selected {
  position: relative;
  padding-block: 14px;
  padding-inline: 16px 46px;
  font-size: inherit;
  color: #64748b;
  cursor: pointer;
  background: #f2f4f7;
  border-radius: 0.25rem;

  &::after {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    display: block;
    width: 2.5rem;
    aspect-ratio: 1;
    content: "";
    background-color: var(--color-primary, #2196f3);
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
    transform: translateY(-50%);
  }
}

/**
 * ノーマルセレクトボックス
 */
/* stylelint-disable declaration-property-value-no-unknown, plugin/use-baseline */
select,
::picker(select) {
  appearance: base-select; // 2025/10現在、SafariとFirefoxで未対応
}
/* stylelint-enable declaration-property-value-no-unknown, plugin/use-baseline */

select {
  position: relative;
  width: 100%;
  padding-block: 14px;
  padding-inline: 16px 46px;
  font-size: inherit;
  color: #64748b;
  cursor: pointer;
  background: #f2f4f7;
  border: none;
  border-radius: 0.25rem;

  &:focus {
    outline: 2px solid var(--color-primary, #2196f3);
    outline-offset: 2px;
  }

  /* stylelint-disable-next-line plugin/use-baseline */
  &::picker(select) /* 2025/10現在、SafariとFirefoxで未対応 */ {
    border-color: transparent;
    box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
  }
}

option {
  padding: 0.875rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #64748b;
  cursor: pointer;
  background: #fff;
  transition: background-color 0.2s;

  &:checked {
    font-weight: 600;
    color: var(--color-primary, #2196f3);
  }

  /* stylelint-disable-next-line plugin/use-baseline */
  &::checkmark /* 2025/10現在、SafariとFirefoxで未対応 */ {
    display: none;
  }

  &:first-child {
    margin-top: 8px;
  }

  &:last-child {
    margin-bottom: 8px;
  }

  &:hover {
    background-color: #f2f4f7;
  }
}
